#content {	
	font-size: 150%;
	line-height: 1.5em;
	padding: 4% 4% 4% 4%;
	overflow: auto;
	position: absolute;
	left: 33.33333333%;
	top: 3rem;
	right: 0;
	bottom: 0;

	-moz-transition: left 0.5s;
	-webkit-transition: left 0.5s;
	transition: left 0.5s;
}

.osc-off #content {
	left: 25%;
}