fieldset.evaluation {
	.problem-description {
		position: relative;
		margin: -1em -1em 1em -1em;
		padding: 1em;
		// background: lighten($colour-warning, 50%);
		color: darken($colour-warning, 20%);

		&:before {
			content: " ";
			display: block;
			position: absolute;
			// z-index: -1;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: $colour-warning;
			opacity: 0.3;
		}
	}

	.instruction {
		margin-bottom: 1em;
	}
}