.form-iteration {

	label {
		clear: both;
		display: block;
		margin-bottom: 0.5em;

		@include clear();

		&:first-child {
			.iconified {
				display: none;
			}
		}

		input {
			max-width: 80%;
			float: left;
		}

		.iconified {
			margin-top: 0.5em;
			float: left;
			margin-left: 0.4em;
			color: gray;
			font-size: 0.8em;
		}
	}
}