#main {	
	position: absolute;
	left: 25%;
	top: 0;
	right: 0;
	bottom: 0;

	-moz-transition: left 0.5s;
	-webkit-transition: left 0.5s;
	transition: left 0.5s;
}

.osc-on #main {
	left: 25%;
}

.osc-off #main {
	left: 0%;
}