.measures {

	.measure {
		margin-bottom: 2em;
		border: 1px solid silver;
		border-radius: 1em;

		h2 {
			font-size: 1em;
			padding: 1em 1em 0 1em;
			line-height: 1em;
			cursor: default;

			-moz-transition: padding 0.5s;
			-webkit-transition: padding 0.5s;
			transition: padding 0.5s;

			&.collapsible-closed {
				padding: 0.5em 0.5em 0.4em 1em;

				&:before {
					content: "\e814";
				}
			}

			&:before {
				font-family: fontello;
				content: "\e815";
				float: right;
				margin: 0;
				width: 1em;
			}
		}

		.panel-content {
			padding: 1em;
		}
	}
}