.add-measure-menu {
	border-top: solid 1px rgba(0,0,0,0.5);
	margin-top: 1em;

	li {
		border-bottom: solid 1px rgba(0,0,0,0.5);

		a {
			padding: 0.2em 2em 0.2em 0;
			display: block;
			position: relative;
			color: black;
			cursor: default;

			.iconified {
				position: absolute;
				right: 0;
				top: 0.35em;
				margin: 0;
				font-size: 1.2em;
				font-style: normal;
			}
		}
	}
}

.measures {

	&+.button-bar {
		margin-bottom: 3em;
	}

	.measure {
		margin-bottom: 1em;
		border: 1px solid silver;
		border-radius: 1em;
		position: relative;

		&.open.in-progress .functions,
		.functions {
			position: absolute;
			top: -2.7%;
			right: 7%;
			margin-right: 1em;
			font-size: 0.8em;
			opacity: 0;

			-moz-transition: opacity 0.2s;
			-webkit-transition: opacity 0.2s;
			transition: opacity 0.2s;

			@include screen-size(small) {
				top: -3.1%;
			}

			a {
				display: inline-block;
				margin-right: 1em;

				@include screen-size(small) {
					width: 1em;
					overflow: hidden;
					height: 2em;
					top: -2.9%;
				}
			}
		}

		&.open {
			.functions {
				opacity: 1;
			}
		}

		h2 {
			font-size: 1em;
			padding: 5% 5% 0 5%;
			line-height: 1em;
			cursor: default;
			margin-bottom: 0;

			-moz-transition: padding 0.5s;
			-webkit-transition: padding 0.5s;
			transition: padding 0.5s;

			&:before {
				font-family: fontello;
				content: "\e815";
				float: right;
				margin: 0;
				width: 1em;
			}
		}

		&.closed,
		&.open.in-progress {

			h2 {
			padding: 0.5em 0.5em 0.4em 1em;

				&:before {
					content: "\e814";
				}
			}
		}

		.panel-content {
			padding: 5%;
			position: relative;
		}
	}
}