.measures {

	.measure {
		margin-bottom: 2em;
		border: 1px solid silver;
		border-radius: 1em;
		position: relative;

		.functions {
			position: absolute;
			top: 3.2%;
			right: 7%;
			margin-right: 1em;
			font-size: 0.8em;
			opacity: 0;

			-moz-transition: opacity 0.5s;
			-webkit-transition: opacity 0.5s;
			transition: opacity 0.5s;

			a {
				display: inline-block;
				margin-right: 1em;
			}
		}

		&.open {
			.functions {
				opacity: 1;
			}
		}

		h2 {
			font-size: 1em;
			padding: 5% 5% 0 5%;
			line-height: 1em;
			cursor: default;

			-moz-transition: padding 0.5s;
			-webkit-transition: padding 0.5s;
			transition: padding 0.5s;

			&:before {
				font-family: fontello;
				content: "\e815";
				float: right;
				margin: 0;
				width: 1em;
			}
		}

		&.closed,
		&.open.in-progress {

			h2 {
			padding: 0.5em 0.5em 0.4em 1em;

				&:before {
					content: "\e814";
				}
			}
		}

		.panel-content {
			padding: 5%;
		}
	}
}