.show-more-or-less {
	cursor: pointer;
	// text-decoration: underline;
	color: $colour-accent;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	&.collapsible-open .show-more,
	&.collapsible-closed .show-less,
	.divider,
	&:first-child::before {
		display: none;
	}

}