#osc {
	color: silver;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 25%;
	background: gray;
	padding-top: 2.5%;
	padding-bottom: 2.5%;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	a {
		color: white;
	}
}