#osc {
	color: silver;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 25%;
	background: #333332;
	padding-top: 2.5%;
	padding-bottom: 2.5%;

	-moz-transition: left 0.5s;
	-webkit-transition: left 0.5s;
	transition: left 0.5s;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	a {
		color: white;
	}
}

.osc-on #osc {
	left: 0;
}

.osc-off #osc {
	left: -25%;
}