body.report {
	margin: 12% 10%;
	overflow: auto;
	width: auto;
}

article.report {
	.title-line {
		td,
		th {
			padding: 2em 0 1em 0;
		}
		h3 {
			font-weight: bold;
			margin-bottom: 0;
			font-size: 1.5em;
		}
	}
	.prio-high {
		.risk-title,
		td {
			color: red;
		}
	}
	.prio-medium {
		.risk-title,
		td {
			color: orange;
		}
	}
	.prio-low {
		.risk-title,
		td {
			color: green;
		}
	}

	table {
    	border-collapse: collapse;

		th,
		td {
			border-bottom: 1px solid silver;
			padding: 0.5em 0;
		}

		td {
			padding-left: 0.5em;
			padding-right: 0.5em;
		}

		thead {
			th {
				text-align: center;
			}
		}

		tbody {
			td {
				vertical-align: middle;
				text-align: center;
				font-weight: bold;
				font-size: 3em;

				&:nth-child(even) {
					background-color: #ececec;
				}
			}	
		}
	}

	.risk-title {
		margin-bottom: 0;
		font-weight: bold;
	}

	.description {
		font-weight: normal;
		margin-bottom: 0;
	}

}