.score-badge {
  background-color: red;
  position: absolute;
  left: -6em;
  top: 0.5em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  text-align: center;
  // @include box-sizing();
  text-indent: -1000em;
  color: black;

  &:before,
  &:after {
    position: absolute;
    text-indent: 0;
  }

  &:before {
    content: '• •';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    border-radius: 50%;
    line-height: 2em;
    font-size: 2em;
    z-index: 1;
  }

  &:after {
    content: ' ';
    display: block;
    left: 16%;
    right: 16%;
    bottom: 1em;
    height: 2.5em;
    background-color: rgba(255,255,0,0);
    border-bottom: 0.3em solid black;
    border-radius: 100%;
    // border-bottom-left-radius: 100%;
    // border-bottom-right-radius: 100%;
    z-index: 1;
  }

  &[data-satisfaction^="0"]:after,
  &[data-satisfaction^="1"]:after,
  &[data-satisfaction^="2"]:after,
  &[data-satisfaction^="3"]:after,
  &[data-satisfaction^="4"]:after {
    border-bottom: none;
    border-top: 0.3em solid black;
  }

  &[data-satisfaction^="0"] {
    &:before {
      background-color: rgba(255,255,0,0);
    }
    &:after {
      height: 30%;
      bottom: 8%;
    }
  }

  &[data-satisfaction^="1"] {
    &:before {
      background-color: rgba(255,255,0,0.1);
    }
    &:after {
      height: 24%;
      bottom: 12%;
    }
  }

  &[data-satisfaction^="2"] {
    &:before {
      background-color: rgba(255,255,0,0.2);
    }
    &:after {
      height: 18%;
      bottom: 16%;
    }
  }

  &[data-satisfaction^="3"] {
    &:before {
      background-color: rgba(255,255,0,0.3);
    }
    &:after {
      height: 12%;
      bottom: 22%;
    }
  }

  &[data-satisfaction^="4"] {
    &:before {
      background-color: rgba(255,255,0,0.4);
    }
    &:after {
      height: 6%;
      bottom: 26%;
    }
  }

  &[data-satisfaction^="5"] {
    &:before {
      background-color: rgba(255,255,0,0.5);
    }
    &:after {
      height: 0;
      bottom: 30%;
    }
  }

  &[data-satisfaction^="6"] {
    &:before {
      background-color: rgba(255,255,0,0.6);
    }
    &:after {
      height: 36%;
      bottom: 28%;
    }
  }

  &[data-satisfaction^="7"] {
    &:before {
      background-color: rgba(255,255,0,0.7);
    }
    &:after {
      height: 43%;
      bottom: 26%
    }
  }

  &[data-satisfaction^="8"] {
    &:before {
      background-color: rgba(255,255,0,0.8);
    }
    &::after {
      height: 49%;
      bottom: 24%;
    }
  }

  &[data-satisfaction^="9"] {
    &:before {
      background-color: rgba(255,255,0,0.9);
    }
    &:after {
      height: 55%;
      bottom: 22%;
    }
  }

  &[data-satisfaction="100"] {
    &:before {
      background-color: rgba(255,255,0,1);
    }
    &:after {
      height: 61%;
      bottom: 22%;
      border-top: none;
      border-bottom: 0.3em solid black;
    }
  }
}