.splash-message {
	display: none;
	// font-family: helvetica-neue-medium-extended;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	min-height: 100%;
	background: rgba(255,255,255,0.8);
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   		background: white; // Hack to compensate for lack of CSS3 filter support in IE 10/11
	}
	z-index: 10000;
	overflow: auto;

	article {
		position: absolute;
		top: 50%;
		left: 15%;
		  -webkit-transform: translateY(-50%);
		  -ms-transform: translateY(-50%);
		  transform: translateY(-50%);
		width: 70%;

		.logo {
			margin-top: 4em;
		}
	}

	.trigger {
		margin: 0;
		height: 3em;
		width: 3em;
		position: absolute;
		top: 1.5em;
		right: 1.5em;
		border: none;

		&:before {
			display: none;
		}

		&:after {
			content: '#{$glyph-close}';
			font-size: 2em;
			color: rgba(0,0,0,0.5);
			font-family: fontello;
			position: absolute;
			top: 0.5em;
			right: 0.5em;
		}

		&:hover {
			&:after {
				color: black;
			}
		}
	}
}

body {
	&.splash-on {
		.splash-message {
			display: block;	
		}

		#main,
		#osc {
			-ms-filter: blur(30px);
			-moz-filter: blur(30px);
			-webkit-filter: blur(30px);
			filter: blur(30px);
		}
	}

	&.splash-off {
		#main,
		#osc {
			-ms-filter: blur(0);
			-moz-filter: blur(0);
			-webkit-filter: blur(0);
			filter: blur(0);
		}
	}
}