.statuses {
  h1 {
    margin-left: 4em;
    position: relative;
    margin-bottom: 0em;

    .score-badge {
      position: absolute;
      left: -4.7em;
      top: -0.95em;
      width: 4em;
      height: 4em;
      // text-indent: 0;
      // padding-top: 4em;
      // height: 0;
      // text-align: center;
      // line-height: 2em;

      // em {
      //   display: block;
      //   font-size: 0.4em;
      //   font-style: normal;
      //   margin-top: -2.8em;
      //   opacity: 0.6;
      // }

      &:before {
        line-height: 1.6em;
      }

      &:after {
        // line-height: ;
      }
    }
  }

  .byline {
    margin-left: 6em;
    position: relative;
    margin-bottom: 2em;
    font-size: 1.34em;
  }

  .page-toc {
    margin-left: 6em;
    margin-top: -8.5em;
    margin-bottom: 3em;
    padding: 6.8em 2em 2.5em 2em;
    border-radius: 1em;
    background-color: rgba(0,0,0,0.1);
  }
}