dl.status {
  padding: 4%;
  background: rgba(0,0,0,0.2);
  margin-bottom: 2em;
  margin-top: 0;

  dt {
    height: 2em;
    line-height: 2em;
    // margin-bottom: -2em;
    color: white;
    // padding-left: 3%;
    position: relative;
    clear: left;
	  display: block;
    text-decoration: none;
    font-weight: bold;

    a {
      // color: white;
      text-decoration: none;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  dd {
    background: rgba(0,0,0,0.2);
    clear: left;
	  display: block;
    height: 2em;
    margin: 0 0 1em 0;
    padding: 0;
    text-align: center;
    color: white;
    line-height: 2.1em;
    font-weight: normal;
  }

  .range {
    height: 2em;
    overflow: hidden;
    display: inline-block;;
    text-align: center;
    float: left;

    .label {
      display: none;
    }

    &.answered {
      background-color: green;
    }

    &.risk {
      background-color: red;
    }

    &.risk-measure {
      background-color: DarkRed ;
    }

    &.postponed {
      background-color: orange;
    }
  }
}