.statuses {
  h1 {
    margin-left: 4em;
    position: relative;
    margin-bottom: 1.5em;

    .score-badge {
      position: absolute;
      left: -4.7em;
      top: -1.3em;
      width: 4em;
      height: 4em;

      &:before {
        line-height: 1.6em;
      }

      &:after {
        // line-height: ;
      }
    }
  }

  .page-toc {
    margin-left: 6em;
    margin-top: -8.5em;
    margin-bottom: 3em;
    padding: 6.8em 2em 2.5em 2em;
    border-radius: 1em;
    background-color: rgba(0,0,0,0.1);
  }
}