dl.status {
  // padding: 4%;
  padding-top: 1em;
  // background: rgba(0,0,0,0.1);
  margin-bottom: 2em;
  margin-top: 0;

  dt {
    height: 2em;
    // line-height: 2em;
    // margin-bottom: -2em;
    color: white;
    // padding-left: 3%;
    position: relative;
    clear: left;
	  display: block;
    text-decoration: none;
    font-weight: bold;
    margin-left: 6em;

    a {
      color: black;
      text-decoration: none;
      display: block;
      text-transform: uppercase;
      // font-size: 1.2em;

      &:hover {
        text-decoration: underline;
      }
    }

    .score-badge {
      background-color: red;
      position: absolute;
      left: -6em;
      top: 0.5em;
      width: 5em;
      height: 5em;
      border-radius: 50%;
      text-align: center;
      // @include box-sizing();
      text-indent: -1000em;
      color: black;

      &:before,
      &:after {
        position: absolute;
        text-indent: 0;
      }

      &:before {
        content: '• •';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        border-radius: 50%;
        line-height: 2em;
        font-size: 2em;
        z-index: 1;
      }

      &:after {
        content: ' ';
        display: block;
        left: 0.8em;
        right: 0.8em;
        bottom: 1em;
        height: 2.5em;
        background-color: rgba(255,255,0,0);
        border-bottom: 0.3em solid black;
        border-radius: 100%;
        // border-bottom-left-radius: 100%;
        // border-bottom-right-radius: 100%;
        z-index: 1;
      }

      &[data-satisfaction^="0"]:after,
      &[data-satisfaction^="1"]:after,
      &[data-satisfaction^="2"]:after,
      &[data-satisfaction^="3"]:after,
      &[data-satisfaction^="4"]:after {
        border-bottom: none;
        border-top: 0.3em solid black;
      }

      &[data-satisfaction^="0"] {
        &:before {
          background-color: rgba(255,255,0,0);
        }
        &:after {
          height: 1.66666em;
          bottom: 0.5em;
        }
      }

      &[data-satisfaction^="1"] {
        &:before {
          background-color: rgba(255,255,0,0.1);
        }
        &:after {
          height: 1.33333em;
          bottom: 0.7em;
        }
      }

      &[data-satisfaction^="2"] {
        &:before {
          background-color: rgba(255,255,0,0.2);
        }
        &:after {
          height: 1em;
          bottom: 0.9em;
        }
      }

      &[data-satisfaction^="3"] {
        &:before {
          background-color: rgba(255,255,0,0.3);
        }
        &:after {
          height: 0.66666em;
          bottom: 1.1em;
        }
      }

      &[data-satisfaction^="4"] {
        &:before {
          background-color: rgba(255,255,0,0.4);
        }
        &:after {
          height: 0.33333em;
          bottom: 1.3em;
        }
      }

      &[data-satisfaction^="5"] {
        &:before {
          background-color: rgba(255,255,0,0.5);
        }
        &:after {
          height: 0;
          bottom: 1.5em;
        }
      }

      &[data-satisfaction^="6"] {
        &:before {
          background-color: rgba(255,255,0,0.6);
        }
        &:after {
          height: 0.5em;
          bottom: 1.4em;
        }
      }

      &[data-satisfaction^="7"] {
        &:before {
          background-color: rgba(255,255,0,0.7);
        }
        &:after {
          height: 1em;
          bottom: 1.3em;
        }
      }

      &[data-satisfaction^="8"] {
        &:before {
          background-color: rgba(255,255,0,0.8);
        }
        &::after {
          height: 1.5em;
          bottom: 1.2em;
        }
      }

      &[data-satisfaction^="9"] {
        &:before {
          background-color: rgba(255,255,0,0.9);
        }
        &:after {
          height: 2em;
          bottom: 1.1em;
        }
      }

      &[data-satisfaction="100"] {
        &:before {
          background-color: rgba(255,255,0,1);
        }
        &:after {
          height: 2.5em;
          bottom: 1em;
          border-top: none;
          border-bottom: 0.3em solid black;
        }
      }
    }
  }

  dd {
    margin-left: 6em;
    position: relative;

    .high-prio-risks {
      margin-bottom: 3.5em;

      h4 {
        color: rgba(0,0,0,0.6);
      }

      li {
         margin-left: 0;
         padding-left: 1em;

         a {
          color: rgba(0,0,0,0.6);

          &:hover {
            color: black;
            text-decoration: underline;
          }
         }

         &:before {
          content: "•";
          float: left;
          margin-left: -1em;
         }
      }
    }

    .legend {
      margin-bottom: 3.5em;
      color: rgba(0,0,0,0.6);

      li {
        padding-left: 1.8em;
        font-style: normal;

        .number {
          float: left;
          margin-left: -1.8em;
          margin-top: 0.1em;
          width: 1.3em;
          height: 1.3em;
          line-height: 1.5em;
          border-radius: 50%;
          text-align: center;
          background-color: gray;
          color: white;
          font-size: 0.9em;
          font-weight: normal;
        }

        &.answered .number {
          background-color: green;
        }

        &.risk .number {
          background-color: red;
        }

        &.risk-measure .number {
          background-color: DarkRed;
        }

        &.postponed .number {
          background-color: orange;
          color: rgba(0,0,0,0.6);
        }

        &.unanswered .number {
          background-color: rgba(0,0,0,0.1);
          color: rgba(0,0,0,0.6);
        }
      }
    }

    .graph {
      background: rgba(0,0,0,0.1);
      clear: left;
  	  display: block;
      height: 2em;
      margin: 0 0 2.5em 0;
      padding: 0;
      text-align: center;
      color: white;
      line-height: 2.1em;
      border-radius: 1em;
      overflow: hidden;

      .range {
        height: 2em;
        overflow: hidden;
        display: inline-block;;
        text-align: center;
        float: left;

        .label {
          display: none;
        }

        .number {  
          font-weight: normal;
          font-size: 0.8em;
        }

        &.answered {
          background-color: green;
        }

        &.unanswered {
          color: rgba(0,0,0,0.6);
        }

        &.risk {
          background-color: red;
        }

        &.risk-measure {
          background-color: DarkRed ;
        }

        &.postponed {
          background-color: orange;
          color: rgba(0,0,0,0.6);
        }
      }
    }
  }
}