#steps {

	> li {
		display: block;
		
		&.active {
			background: rgba(0,0,0,0.2);
		}

		a {
			padding: 0.3em 6%;
			display: block;
		}
	}

	.topics {
		position: absolute;
		left: 100%;
		width: 100%;
		height: 100%;
		top: 0;
		overflow: auto;

		background: #efefef;

		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;

		padding: 10% 6%;

		a {
			color: black;
		}
	}
}