#steps {

	> li {
		display: block;
		
		&.active {
			background: rgba(0,0,0,0.2);
		}

		a {
			padding: 0.3em 6%;
			display: block;
			font-weight: bold;
		}
	}

	.topics {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;

			position: absolute;
			left: 100%;
			background: #efefef;
			width: 100%;

			@include screen-size(small) {
				width: 111%;
			}

			@include screen-size(medium) {
				width: 75%;
			}

			height: 100%;
			overflow: auto;
			top: 3rem;
			padding: 10% 6%;

		// @include screen-size(large) {
		// 	position: absolute;
		// 	left: 100%;
		// 	background: #efefef;
		// 	width: 100%;
		// 	height: 100%;
		// 	overflow: auto;
		// 	top: 3rem;
		// 	padding: 10% 6%;
		// }

		li {


			a {
				padding-left: 2.5rem;
			}

			.counter {
				float: left;
				font-size: 0.7em;
				margin-left: -2.5rem;
				color: rgba(0,0,0,0.5);
			}
		}

		.questions {
			li {

				line-height: 1.3em;
				font-size: 0.8em;

				a {
					padding-left: 3.7rem;
					font-weight: normal;

					&:before {
						font-family: fontello;
						content: "\e80b";
						color: gray;
						float: left;
						margin-left: -1.4em;
					}
				}

				&.postponed {
					a:before {
						content: "\e802";
						color: orange;
					}
				}

				&.answered {
					a:before {
						content: "\e80a";
						color: green;
					}
				}

				&.answered.risk {
					a:before {
						content: "\e805";
						color: red;
					}
				}
			}
		}

		a {
			color: black;			
		}
	}
}

@include screen-size(small) {
	.focus-document {

		#steps {

			.topics {
				display: none;
			}
		}
	}
}

@include screen-size(medium) {
	.osc-on #steps .topics {
		opacity: 0.5;
		pointer-events: none;
	}
}

@include screen-size(small) {
	.osc-on #steps .topics {
		opacity: 0.5;
		pointer-events: none;
	}
}