#toolbar {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	background: $colour-primary;
	color: white;

	padding: 0.61rem 2% 0.61rem 2%;

	border-bottom: silver 1px solid;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 3rem;

	.warning {
		display: inline-block;
		background-color: $colour-alert;
		padding: 0 0.8em;
		border: rgba(255,255,255,0.6) solid 1px;
		border-radius: 2px;

		a {
			text-decoration: underline;
		}
	}

	a,
	button {	
		color: white;
		// padding: 0 0.5em;
		cursor: default;
	}

	.user-status,
	.login,
	.registration {
		float: right;
		margin-left: 1.5em;
	}

	@include screen-size(small) {
		.user-status {
			&:before {
				content: '\e81a';
				float: left;
				margin-right: 1em;
				width: 1em;
				line-height: 1.7em;
				text-align: center;
				padding: 0;
			}

			&:after {
				display: none;
			}

			position: relative;
			width: 1.8em;
			padding: 0;
			overflow: hidden;
			white-space: nowrap;
		}
	}

	#burger {
		padding: 0;
		width: 2rem;
		overflow: hidden;
		display: inline-block;
		float: left;
		height: 1.5em;
		margin-right: 0.5em;
		// box-shadow: inset 0 0 0.15em rgba(0,0,0,0.7);

		&:before {
			content: "\e81c";
			font-size: 1.2em;
			width: 1.6rem;
			line-height: 1.7rem;
			float: left;
		}
	}

	.icon-left {
		padding: 0 0.5em 0 0.2em;
		max-width: 60%;
		overflow: hidden;
		text-overflow: ellipsis;

		@include screen-size(medium) {
			display: none;
		}

		@include screen-size(large) {
			display: none;
		}
	}

}

.osc-off #toolbar #burger {
	// box-shadow: inset 0 0 0.15em rgba(0,0,0,0);

	&:before {
		@include screen-size(large) {
			content: "\e81d";
		}

		@include screen-size(medium) {
			content: "\e81d";
		}

		@include screen-size(small) {
			content: "\e81b";
		}
	}
}

@include screen-size(small) {
	.focus-sidebar {
		#toolbar .icon-left {
			display: none;
		}

		#toolbar #burger {
			display: inline-block;

			&:before {
				font-size: 1em;
				width: 1.6rem;
				line-height: 1.7rem;
				float: left;
			}
		}
	}

	.osc-off {
		#toolbar #burger {
			&:before {
				content: "\e812";
			}
		}
	}

	.osc-on {
		#toolbar #burger {
			&:before {
				content: "\e81b";
			}
		}
	}

	.focus-document {
		#toolbar .icon-left {
			display: inline-block;
		}

		#toolbar #burger {
			display: none;
		}
	}
}