#warning-bar {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	background: lighten($colour-warning, 50%);
	color: $colour-warning;

	a {
		color: $colour-warning;
		text-decoration: underline;

		&.iconified {
			text-decoration: none;
		}
	}

	padding: 0.61rem 2% 0.5rem 2%;

	border-bottom: silver 1px solid;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 3rem;
}