article {
	margin-bottom: 2em;

	.introduction {
		font-family: helvetica-neue-medium-extended;
	}

	.logo {
		overflow: hidden;

		img {
			height: 3em;
		}
	}

	ol,
	ul,
	p,
	dl,
	table {
		margin: 0 0 1em 0;
	}

	ul,
	ol {
		margin-left: 1.5em;

		li {
			list-style: disc;
		}
	}

	h1,
	h2,
	h3 {
		margin: 0 0 1em 0;
	}

	h1 {
		font-family: helvetica;
		font-weight: normal;
		line-height: 1.3em;
		font-size: 1.5em;
	}

	h1 + .byline {
		margin-top: -1.5em;
		font-size: 1em;
		color: silver;

		a {
			color: silver;
			text-decoration: none;
		}
	}

	h2 {
		font-family: helvetica-neue-medium-extended;
		font-weight: normal;
		font-size: 1em;
	}

	strong {
		font-family: helvetica-neue-medium-extended;
		font-weight: normal;
	}	

	img {
		display: block;
		margin: 0 auto;
	}

	@media only screen and (min-width: 768px) {
		img[alt="Right aligned illustration"] {
			float: right;
			max-width: 30%;
			margin-left: 5%;
			margin-bottom: 0.5em;
			position: relative;
			top: 0.3em;
		}

		img[alt="Left aligned illustration"] {
			float: left;
			max-width: 30%;
			margin-right: 5%;
			margin-bottom: 0.5em;
			position: relative;
			top: 0.3em;
		}
	}
}