@charset "UTF-8";

// Each pattern comes with a mixin. They may also be included seperately 
// in a project and applied on custom markup.

@import "animations";
@import "mixins";

// Variable defaults

$body-font-family: 'Source Sans Pro', sans-serif;

$break-small: 768px !default;
$break-large: 769px !default;

$colour-base: #efefef !default;
$colour-primary: black !default;
$colour-header-elements: #666 !default;
$colour-post: #e4f2f8 !default;
$colour-alert: red !default;
$colour-workspace-default: #869EBF !default;
$colour-accent: #5d91ff !default;

$colour-success: #5bb75b !default;
$colour-warning: #faa732 !default;
$colour-notice: #fdfdc8 !default;
$colour-info: #d9edf7 !default;
$colour-error: red !default;

$glyph-checkbox: \e808 !default;
$glyph-checkbox-active: \e809 !default;
$glyph-radio-button: \e807 !default;
$glyph-radio-button-active: \e806 !default;
$glyph-close:\e813!default;

// Responsive variables

$break-small: 768px !default;
$break-large: 769px !default;

// Each pattern comes with a mixin. They may also be included seperately
// in a project and applied on custom markup.

@import "mixins";

// Individual scss files are imported for each Pattern. These files may
// also be imported seperately in a project, but always require the Patterns
// mixins

@import "components/article";
@import "components/auto-suggest";
@import "components/autofocus";
@import "components/autoscale";
@import "components/autosubmit";
@import "components/avatar";
@import "components/button";
@import "components/button-bar";
@import "components/bumper";
@import "components/calendar";
@import "components/carousel";
@import "components/checkedflag";
@import "components/checklist";
@import "components/collapsible";
@import "components/depends";
@import "components/edit-tinymce";
@import "components/equaliser";
@import "components/expandable-tree";
@import "components/focus";
@import "components/form";
@import "components/gallery";
@import "components/grid";
@import "components/icon";
@import "components/image-crop";
@import "components/inject";
@import "components/injection";
@import "components/markdown";
@import "components/modal";
@import "components/navigation";
@import "components/notification";
@import "components/photoswipe";
@import "components/select2";
@import "components/separator";
@import "components/settings";
@import "components/slideshow-builder";
@import "components/sortable";
@import "components/stacks";
@import "components/switch";
@import "components/tiny-content";
@import "components/toggle";
@import "components/tooltip";
@import "components/validate";
@import "components/well";
@import "components/zoom";