@charset "UTF-8";

article {
	margin-bottom: 2em;

	&:after {
		content: ' ';
		display: table;
		clear: both;
	}

	h1,h2,p,ul,ol,table,dl,pre {
		margin-bottom: 2rem;
	}

	ul,ol {
		li {
			 margin-left: 0;
			 padding-left: 1em;

			 &:before {
			 	content: "•";
			 	float: left;
				margin-left: -1em;
			 }
		}

	}

	h1 {
		font-weight: 600; 
		font-size: 2em;
		line-height: 130%;
		margin-bottom: 0.7em;
		letter-spacing: 0.05em;
	}

	h2 {
		line-height: 130%;
		letter-spacing: 0.05em;
		font-weight: 400;
	}

	h3 {
		line-height: 130%;
		letter-spacing: 0.05em;
		font-weight: 400;
	}

	img {
		max-width: 100%;
		margin: 0 auto;
		display: block;
	}

	figure {
		margin-bottom: 2em;

		figcaption {
			font-style: italic;
			font-size: 0.8em;
			color: rgba(0,0,0,0.3);
			border-bottom: 1px solid rgba(0,0,0,0.3);
			padding: 0 0.7em 0.3em;
		}
	}
}