.pat-browser-warning {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: gray;
  font-size: 2em;
  line-height: 1.8em;
  display: block;
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  width: 750px;
  height: 400px;
  margin-top: -200px;
  margin-left: -375px;
  padding: 1em;

  &:after {
    content: " ";
    display: block;
    position: fixed;
    top: -10000px;
    right: -10000px;
    bottom: -10000px;
    left: -10000px;
    background-color: rgba(255,255,255,0.98);
    z-index: -1;
    opacity: 0.98;

    -moz-animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;

    -webkit-animation-fill-mode: forwards;
  }
}