.pat-collapsible {
	// margin-bottom: 0.5em;

	 > *:first-child:before {
		content: "▼";
		text-align: center;
		width: 1.5em;
		display: inline-block;

		-moz-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}

	&.closed > *:first-child:before {
		-moz-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	 > .panel-content {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	
	> *:first-child {
		// @include pat-button();

		font-weight: normal;
		width: 100%;

		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		// font-size: 0.8em;
	}
}