.pat-notification-panel {
	padding: 0.5em;
	margin-bottom: 1em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.20);
	display: block;
	border-radius: 0.2em;
	background-color: rgba(254,255,255,0.98);
	color: rgba(0,0,0,0.7);
	border: 1px solid #d3d4a7;

	&.notice {
		background-color: $colour-notice;
	}

	&.success {
	  background-color: $colour-success;
	  color: black;
	}

	&.warning {
	  background-color: $colour-warning;
	  color: #ffffff;
	}

	&.warning * {
		color: white !important;
	}

	&.error {
	  background-color: $colour-alert;
	  color: #ffffff;
	}

	&.error * {
		color: white !important;
	}

	&.info {
	  background-color: $colour-notice;
	  color: #247fad;
	}

	p:last-of-type {
		margin-bottom: 0;
	}

	button {
		@include pat-button();
		font-size: 0.8em;
		margin-top: 0.7em;
	}
}

#pat-notification-banners {
	position: fixed;
 	top: 1em;
	width: 320px;
	z-index: 2147483647;
	right: 1em;
}


