/.installed.cfg
/.mr.developer.cfg
/bin
/build
/develop-eggs
/dist
/eggs
/include
/lib
/local
/parts
/var
/src/osha.oira.egg-info
*.mo
*.pyc
*~
*.bak
*.swp
*.pt.py
_site
scripts/lib
scripts/bin
scripts/include
prototype/.sass-cache
