/.installed.cfg
/.mr.developer.cfg
/bin
/build
/develop-eggs
/dist
/eggs
/include
/lib
/local
/parts
/var
/src/osha.oira.egg-info
*.mo
*.pyc
*~
*.bak
*.swp
*.pt.py
_site
scripts/lib
scripts/bin
scripts/include
prototype/.sass-cache
prototype/node_modules
prototype/src/bower_components
prototype/.bundle/
prototype/npm-debug.log
prototype/bundles/
prototype/stamp-bundler
prototype/bin/
prototype/stamp-bower
prototype/stamp-npm
src/Euphorie
src/oira.private
prototype/redactor
