*.bak
*.mo
*.pt.py
*.pyc
*.swp
*~
/.coverage
/.installed.cfg
/.mr.developer.cfg
/bin
/build
/develop-eggs
/dist
/downloads
/eggs
/include
/lib
/lib64
/local
/parts
/prototype
/pyvenv.cfg
/share
/src/osha.oira.egg-info
/var
_site
log.html
output.xml
prototype/redactor
report.html
scripts/bin
scripts/include
scripts/lib
secrets.robot
src/Euphorie
src/NuPlone
src/oira.private
