include *.rst
recursive-include src *.pot
recursive-include src *.py
recursive-include src/osha/oira *.ini
recursive-include src/osha/oira *.zcml
recursive-include src/osha/oira/locales *.po
graft docs
prune docs/.build
graft src/osha/oira/profiles
graft src/osha/oira/templates
graft src/osha/oira/content/templates
graft src/osha/oira/client/templates
graft src/osha/oira/tiles/templates
graft src/osha/oira/nuplone/templates


