include *.rst
prune prototype
recursive-include src *.pot
recursive-include src *.py
recursive-include src/osha/oira *.ini
recursive-include src/osha/oira *.zcml
recursive-include src/osha/oira/locales *.po
prune src/osha/oira/locales/EUPHORIE
recursive-include src/osha/oira *.eot
recursive-include src/osha/oira *.gif
recursive-include src/osha/oira *.html
recursive-include src/osha/oira *.jpg
recursive-include src/osha/oira *.json
recursive-include src/osha/oira *.png
recursive-include src/osha/oira *.svg
recursive-include src/osha/oira *.ttf
recursive-include src/osha/oira *.woff
recursive-include src/osha/oira *.woff2
recursive-include work/osha/oira *.svg
recursive-include src/osha/oira *.robot
include *.sql

graft docs
prune work
prune docs/.build
prune src/Euphorie
graft src/osha/oira/profiles
graft src/osha/oira/templates
graft src/osha/oira/content/templates
graft src/osha/oira/client/templates
graft src/osha/oira/tiles/templates
graft src/osha/oira/nuplone/templates



# added by check_manifest.py
include *.py
include .travis.yml
include Makefile
include babel.cfg
include buildout.cfg
include devel.cfg
include versions.cfg
recursive-include scripts *.py
recursive-include src *.rst
recursive-include src *.sh
recursive-include src *.txt

# added by check_manifest.py
recursive-include src *.css
recursive-include src *.js
recursive-include src *.map

# added by check_manifest.py
recursive-include etc *.ini
