// Assets
@import "fontello/css/fontello.css";

// Primary colours
$colour-base: #efefef;
$colour-accent: #5d91ff;
$background-color: white;

// Font treatment
$base-font-size: 18px;
$base-line-height: 150%;
$font-weight-normal: normal;
$font-weight-bold: bold;

// We use these to control various global styles
$body-font-color: #222222;
$body-font-family: 'Helvetica', Arial, sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;

$base-space: 1em; // Create universal white space (e.g. margin, padding, left)

// Libraries
@import "libraries/reset";
@import "libraries/patterns/patterns";

// Project components
@import "components/article";
@import "components/container";
@import "components/site-header";
@import "components/user-journey";