@font-face {
	font-family: 'Roboto Condensed';
	font-style: italic;
	font-weight: 400;
	src:
		local('Roboto Condensed Italic'),
		local('RobotoCondensed-Italic'),
		/* from http://fonts.gstatic.com/s/robotocondensed/v13/BP5K8ZAJv9qEbmuFp8RpJTXYwwY3noVKJNRhHbGr3Fs.woff2 */
		url('Roboto_Condensed_400italic.woff2') format('woff2');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto Condensed'),
		local('RobotoCondensed-Regular'),
		/* from http://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsFdJ_1rrj2ZjOK53P0BoXuI.woff2 */
		url('Roboto_Condensed_400.woff2') format('woff2');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	src:
		local('Roboto Condensed Light'),
		local('RobotoCondensed-Light'),
		/* from http://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nCDU3Wkb6Pjj9hGJWHlN9xM.woff2 */
		url('Roboto_Condensed_300.woff2') format('woff2');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src:
		local('Roboto Condensed Bold'),
		local('RobotoCondensed-Bold'),
		/* from http://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nNNRqA5ZDnbMh6BtYPKXc8s.woff2 */
		url('Roboto_Condensed_700.woff2') format('woff2');
}
