<h2>
        Tools developed at Member State level
    </h2>
    <p>
        OiRA tools put at the disposal of 
        <strong>small and micro-companies</strong> in multiple European languages. To access the tools, click on the relevant link, <strong>create your own account</strong> (no confirmation is needed) and start your risk assessment
    </p>
<table width="90%" border="1" cellpadding="3">
<tbody>
<tr>
    <th width="1%">
        &nbsp;
    </th>
    <th width="15%">
        Country
    </th>
    <th width="55%">
        Sector
    </th>
    <th width="15%">
        Language
    </th>
</tr>
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
</tr>
<!-- Cyprus-->
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        <img src="https://admin.oiraproject.eu/flags/cyprus.jpg" alt="CY flag">
    </td>
    <td>
        <a href="https://client.oiraproject.eu/cy/hairdressers/cyprus_hairdressers_el/" title="Cyprus hairdresser risk assessment tool" target="_blank">Κουρεία - Κομμωτήρια</a> (Hairdressing)
    </td>
    <td>
        ελληνικά (GR)
    </td>
</tr>
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td>
        <a href="https://client.oiraproject.eu/cy/civil-service/demosia-dioikese/" title="Cyprus working in offices risk assessmente tool" target="_blank">Εργασίες Γραφείου - Δημόσια Διοίκηση</a> (Office work)
    </td>
    <td>
        ελληνικά
        <p>
            (GR)
        </p>
    </td>
    <td>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
        <p>
            <a href="https://client.oiraproject.eu/cy/etaireies-trophodosias-catering/klados-etaireion-trophodosias-catering">Κλάδος εταιρειών τροφοδοσίας</a> (Catering)
        </p>
    </td>
    <td>
        <p>
            ελληνικά (GR)
        </p>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
        <p>
            <a href="https://client.oiraproject.eu/cy/kreopoleia/kreopoleia">Κρεοπωλεια</a> (Butchers)
        </p>
    </td>
    <td>
        <p>
            ελληνικά (GR)
        </p>
    </td>
    <td>
    </td>
</tr>
<!-- Latvia-->
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        <img src="https://admin.oiraproject.eu/flags/latvia.jpg" alt="LV flag">
    </td>
    <td>
        <a href="https://client.oiraproject.eu/lv/latvia-test/darbs-biroja/" title="Darbs birojā" target="_blank">Darbs birojā</a> (Office work)
    </td>
    <td>
        Latviešu (LV)
    </td>
</tr>
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
        <p>
            <a target="_blank" href="https://client.oiraproject.eu/lv/latvia-test/izglitibas-iestades-1/@@login?came_from=https%3A%2F%2Fclient.oiraproject.eu%2Flv%2Flatvia-test%2Fizglitibas-iestades-1">Izglītības iestādes</a> (Educational establishments)
        </p>
    </td>
    <td>
        &nbsp;
        <p>
            Latviešu (LV)
        </p>
    </td>
</tr><tr>
    <td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/lv/latvia-test/veikali">Veikali</a> (Shops)</p></td>
    <td><p>Latviešu (LV)</p></td>
</tr><tr>
    <td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/lv/latvia-test/lauksaimnieciba">Lauksaimniecība</a> (Agriculture)</p></td>
    <td><p>Latviešu (LV)</p></td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr><tr>
    <td></td>
    <td><p><img src="https://admin.oiraproject.eu/flags/malta.jpg"></p></td>
    <td><p><a href="https://client.oiraproject.eu/mt/xoghol-fl-ufficcju/ohsa-oira-tools">Xoghol fl ufficcju</a> (Working in offices) </p></td>
    <td>Malti (MT)<br></td>
</tr><tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<!-- France-->
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        <img src="https://admin.oiraproject.eu/flags/france.jpg" alt="FR flag">
    </td>
    <td>
        <a href="https://client.oiraproject.eu/fr/transportroutier/transporoutier-2-parametres/" title="Transport routier risk assessment tool" target="_blank">Transport routier</a> (Transport)
    </td>
    <td>
        Français
        <p>
            (FR)
        </p>
    </td>
</tr>
<tr>
    <td>
        &nbsp;
    </td>
    <td>
    </td>
    <td>
        <a href="https://client.oiraproject.eu/fr/restauration/restauration-traditionnelle/" title="Restauration tool" target="_blank">Restauration traditionnelle</a> (Catering sector)
    </td>
    <td>
        Français
        <p>
            (FR)
        </p>
    </td>
</tr>
<!-- Greece -->
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
</tr><tr>
    <td></td>
    <td><p><img src="https://admin.oiraproject.eu/flags/finland.jpg"></p></td>
    <td><p><a href="https://client.oiraproject.eu/fi/fioh/maanteiden-tavaraliikenne">Maanteiden tavaraliikenne</a> (Road transport)</p></td>
    <td>Finnish (FI)<br></td>
</tr><tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        <img src="https://admin.oiraproject.eu/flags/greece.jpg" alt="EL flag">
    </td>
    <td>
        <a href="https://client.oiraproject.eu/gr/catering/ergaleio-oira-gia-tin-ektimisi-kindynoy-ston-klado-ton-etaireion-trofodosias-catering" title="Greek Catering Sector" target="_blank">Κλάδος εταιρειών τροφοδοσίας </a>(Catering sector)
    </td>
    <td>
         ελληνικά
        <p>
            (GR)
        </p>
    </td>
</tr>
<!-- Czech Republic -->
<!--tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><img src="https://admin.oiraproject.eu/flags/czechrepublic.jpg" alt="CZ flag" /></td>
    <td><a href="https://client.oiraproject.eu/cz/" title="" target="_blank">Cz Tool </a> </td>
        <td> Čeština </td>
  </tr-->
<!-- Lithuania -->
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td>
        <p>
            <a href="https://client.oiraproject.eu/gr/commercial-shops/emporika-katastimata">Κλάδος εμπορικών καταστημάτων </a>(Commercial shops)
        </p>
    </td>
    <td>
        &nbsp;
        <p>
            ελληνικά (GR)
        </p>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
        <p>
            <a href="https://client.oiraproject.eu/gr/hairdressers/hairdressing-salons">Κλάδος κομμωτηρίων</a> (Hairdressing)
        </p>
    </td>
    <td>
        <p>
            ελληνικά (GR)
        </p>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        <img src="https://admin.oiraproject.eu/flags/lithuania.jpg" alt="LT flag">
    </td>
    <td>
        <a href="https://client.oiraproject.eu/lt/lt-test-sector/automobiliu-remontas" title="" target="_blank">Automobilių remontas</a> (Car repair)</td>
    <td><p>Lietuviškai (LT)</p></td></tr><tr><td><br></td><td><br></td><td><p><a href="https://client.oiraproject.eu/lt/lt-test-sector/darbas-biure">Darbas biure</a> (Working in offices)</p></td>
    <td><p>Lietuviškai (LT)</p></td>
</tr><tr>
    <td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/lt/lt-test-sector/medienos-apdirbimas">Medienos apdirbimas</a> (Woodworking sector)</p></td>
    <td><p>Lietuviškai (LT)</p></td>
</tr>
<!-- Spain -->
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        <img src=" https://admin.oiraproject.eu/flags/spain.jpg" alt="LT flag">
    </td>
    <td>
        <a href="https://client.oiraproject.eu/es/adoberies/adoberies/" title="" target="_blank">Adoberies</a> (Leather &amp; tanning)
    </td>
    <td>
        <p>
            Català (Catalan)
        </p>
    </td>
</tr><tr>
    <td></td>
    <td></td>
    <td><a href="https://client.oiraproject.eu/es/adoberies/curtiduria">Curtiduría</a> (Leather &amp; tanning)</td>
    <td>Español (ES)</td>
</tr>

<tr>
    <td>
        &nbsp;
    </td>
    <td>
    </td>
    <td>
        <a href="https://client.oiraproject.eu/es/autoescuelas/autoescuelas" title="" target="_blank">Autoescuelas</a> (Driving schools)
    </td>
    <td><p>Español (ES)
        </p>
    </td>
</tr>
<!-- Belgium-->
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td><br></td>
    <td>
        &nbsp;
    </td>
</tr>
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        <img src=" https://admin.oiraproject.eu/flags/belgium.jpg" alt="BE flag">
    </td>
    <td>
        <a href="https://client.oiraproject.eu/be/coiffure/oira-coiffure" title="" target="_blank">Coiffure</a> (Hairdressing)
    </td>
    <td>
         Français (FR)
        <br>
    </td>
</tr>
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td>
        <a href="https://client.oiraproject.eu/be/coiffure/oira-kappers" title="" target="_blank">Kappers</a> (Hairdressing)
    </td>
    <td>
         Nederlands (NL)
    </td>
</tr>
<!-- Portugal-->
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    <p><a href="https://client.oiraproject.eu/be/hout/oira-hout-bois">Hout</a> (Woodworking)</p></td>
    <td>
        &nbsp;
    <p>Nederlands (NL)</p></td>
</tr><tr>
    <td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/be/hout/oira-bois-1">Bois</a> (Woodworking)</p></td>
    <td><p>Français (FR)</p></td>
</tr>
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        <img src=" https://admin.oiraproject.eu/flags/portugal.jpg" alt="PT flag">
    </td>
    <td>
        <a href="https://client.oiraproject.eu/pt/cabeleireiro/cabeleireirofinal" title="" target="_blank">Cabeleireiro</a> (Hairdressing)</td><td>Português (PT)<br></td>
</tr>
<!-- Netherlands-->
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td><p><a href="https://client.oiraproject.eu/pt/curtumes/curtumes">Curtumes</a> (Leather and tanning)</p></td>
    <td>Português (PT)<br></td>
</tr><tr>
    <td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/pt/transporte-rodoviario-de-mercadorias/transportes-de-rodoviario-de-mercadorias">Transporte Rodoviário de Mercadorias</a> (Road transport)</p></td>
    <td>Português (PT)<br></td>
</tr><tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td>
    </td>
    <td>
        <p>
            <img src="https://admin.oiraproject.eu/flags/czechrepublic.jpg" alt="CZ flag">
        </p>
    </td>
    <td>
        <p>
            <a href="https://client.oiraproject.eu/cz/kadernicke-sluzby/kadernicke-sluzby">Kadeřnické služby</a> (Hairdressing)
        </p>
    </td>
    <td>
        <p>
            Čeština (CS)
        </p>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        <img src=" https://admin.oiraproject.eu/flags/netherlands.jpg" alt="NL flag">
    </td>
    <td>
        <a href="https://client.oiraproject.eu/nl/generic/generic-tool-in-english" title="" target="_blank">Generic sector</a>
    </td>
    <td>
        English
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
        <strong></strong><br>
        <p>
            <img alt="BG flag" src="https://admin.oiraproject.eu/flags/bulgaria.jpg">
        </p>
    </td>
    <td>
        <p>
            <a href="https://client.oiraproject.eu/bg/gorsko-stopanstvo/gorsko-stopanstvo " target="_blank">Горско стопанство</a> (Forestry)
        </p>
    </td>
    <td>
        <p>
            Български (BG)
        </p>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
        <p>
            <a href="https://client.oiraproject.eu/bg/stroitelstvo/stroitelstvo" target="_blank">Строителство</a> (Construction)
        </p>
    </td>
    <td>
        <p>
            Български (BG)
        </p>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
        <p>
            <a href="https://client.oiraproject.eu/bg/dalekosaobshteniya/dalekosaobshteniya" target="_blank">Далекосъобщения </a>(Telecommunications)
        </p>
    </td>
    <td>
        <p>
            Български (BG)
        </p>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
        <p>
            <a href="https://client.oiraproject.eu/bg/darzhavno-upravlenie-1/darzhavno-upravlenie" target="_blank">Държавно управление </a>(Public administration)
        </p>
    </td>
    <td>
        <p>
            Български (BG)
        </p>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
        <p>
            <a href="https://client.oiraproject.eu/bg/obrazovanie-1/obrazovanie" target="_blank">Образование</a> (Educational establishments)
        </p>
    </td>
    <td>
        <p>
            Български (BG)
        </p>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
        <p>
            <a href="https://client.oiraproject.eu/bg/mediko-sotsialni-grizhi-s-nastanyavane/" target="_blank">Медико-социални грижи с настаняване</a> (Residential care activities)
        </p>
    </td>
    <td>
        <p>
            Български (BG)
        </p>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
        <p>
            <a href="https://client.oiraproject.eu/bg/proizvodstvo-na-obleklo/proizvodstvo-na-obleklo" target="_blank">Производство на облекло</a> (Manufacture of clothing)
        </p>
    </td>
    <td>
        <p>
            Български (BG)
        </p>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
        <p>
            <a href="https://client.oiraproject.eu/bg/voden-transport/voden-transport" target="_blank">Воден транспорт </a>(Water transport)
        </p>
    </td>
    <td>
        <p>
            Български (BG)
        </p>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
        <p>
            <a href="https://client.oiraproject.eu/bg/vzdushien-transport/vazdushen-transport" target="_blank">Въздушен транспорт</a> (Air transport)
        </p>
    </td>
    <td>
        <p>
            Български (BG)
        </p>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
        <p>
            <a href="https://client.oiraproject.eu/bg/proizvodstvo-na-khimichni-produkti/proizvodstvo-na-khimichni-produkti-1">Производство на химични продукти</a> (Manufacture of chemical products)
        </p>
    </td>
    <td>
        <p>
            Български (BG)
        </p>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
        <p>
            <a href="https://client.oiraproject.eu/bg/proizvodstvo-na-izdeliya-ot-kauchuk-i-plastmasi/proizvodstvo-na-izdeliya-ot-kauchuk">Производство на изделия от каучук</a> (Manufacture of rubber products)
        </p>
    </td>
    <td>
        <p>
            Български (BG)
        </p>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
        <p>
            <a href="https://client.oiraproject.eu/bg/proizvodstvo-na-izdeliya-ot-kauchuk-i-plastmasi/proizvodstvo-na-izdeliya-ot-plastmasi">Производство на изделия от пластмаси</a>  (Manufacture of plastic products)
        </p>
    </td>
    <td>
        <p>
            Български (BG)
        </p>
    </td>
</tr><tr>
    <td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/bg/prodazhba-i-riemont-na-avtomobili/prodazhba-i-riemont-na-avtomobili">Търговия и ремонт на автомобили и мотоциклети</a> (Wholesale
and retail trade; repair of motor vehicles and motorcycles)</p></td>
    <td><p>Български (BG)</p></td>
</tr><tr>
    <td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/bg/proizvodstvo-na-drvien-matierial-i-izdieliia-ot-drvien-matierial/proizvodstvo-na-darven-material-i-izdeliya-ot-darven-material/" target="_blank">Производство на дървен материал и изделия от него</a> (Manufacture
of wood and of products of wood)</p></td>
    <td><p>Български (BG)</p></td>
</tr><tr>
    <td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/bg/sukhoptien-transport-na-tovari/avtomobilien-prievoz-na-ptnitsi">Сухопътен транспорт на пътници</a> (Passenger
land transport)</p></td>
    <td><p>Български (BG)</p></td>
</tr><tr>
    <td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/bg/proizvodsto-na-liekarstvieni-vieshchiestva/proizvodstvo-na-liekarstvieni-vieshchiestva/">Производство на лекарствени вещества</a> (Manufacture
of pharmaceuticals and related products)</p></td>
    <td><p>Български (BG)</p></td>
</tr><tr>
    <td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/bg/khotieli-i-riestoranti/khotieli-i-riestoranti">Хотели и ресторанти</a> (Hotels
and restaurants)</p></td>
    <td><p>Български (BG)</p></td>
</tr><tr>
    <td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/bg/sbiranie-i-obiezvriezhdanie-na-otpadtsi-rietsikliranie-na-matieriali/sbiranie-i-obiezvriezhdanie-na-otpadtsi-rietsikliranie-na-matieriali">Събиране и обезвреждане на отпадъци и рециклиране на материали</a> (Waste
collection and treatment; materials recovery)</p></td>
    <td><p>Български (BG)</p></td>
</tr><tr>
    <td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/bg/obrabotka-na-kozhi-proizvodstvo-na-obuvki/obrabotka-na-kozhi-proizvodstvo-na-obuvki">Обработка на кожи и производство на обувки</a> (Tanning
and dressing of leather; manufacture of footwear)</p></td>
    <td><p>Български (BG)</p></td>
</tr><tr>
    <td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/bg/rastieniievdstvo-i-zhivotnovdstvo/rastenievadstvo-i-zhivotnovadstvo-1">Растениевъдство и животновъдство</a> (Crop and animal production)</p></td>
    <td><p>Български (BG)</p></td></tr><tr><td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/bg/proizvodstvo-na-osnovni-mietali/proizvodstvo-na-osnovni-metali">Производство на основни метали</a> (Manufacture of basic metals)</p></td>
    <td><p>Български (BG)</p></td></tr><tr><td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/bg/proizvodstvo-na-khranitielni-produkti/proizvodstvo-na-hranitelni-produkti/">Производство на хранителни продукти</a> (Manufacture of food products)</p></td>
    <td><p>Български (BG)</p></td></tr><tr><td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/bg/proizvodstvo-na-miebieli/proizvodstvo-na-mebeli/">Производство на мебели</a> (Manufacture of furniture)</p></td>
    <td><p>Български (BG)</p></td></tr><tr><td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/bg/proizvodstvo-na-napitki/proizvodstvo-na-napitki-1/">Производство на напитки</a> (Manufacture of drinks)</p></td>
    <td><p>Български (BG)</p></td></tr><tr><td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/bg/proizvodstvo-i-razpriedielieniie-na-ieliektrichieska-i-toplinna-ienierghiia-i-na-ghazoobrazni-ghoriva/proizvodstvo-i-razpredelenie-na-elektricheska-i-toplinna-energiya-i-na-gazoobrazni-goriva">Производство и разпределение на електрическа и топлинна енергия и на газообразни горива</a> (Production and distribution of electricity and steam,
and of gaseous fuels)</p></td>
    <td><p>Български (BG)</p></td>
</tr><tr><td></td>
    <td><p><img src="https://admin.oiraproject.eu/flags/slovenia.jpg"></p></td>
    <td><p><a href="https://client.oiraproject.eu/si/frizer/delo-v-frizerski-dejavnosti">Delo v frizerski dejavnosti</a> (Hairdressers)</p></td><td><p>Slovenščina (SL)</p></td></tr><tr><td><br></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/si/cestni-transport/cestni-transport-3">Cestni transport</a> (Road transport)</p></td>
    <td><p>Slovenščina (SL)</p></td>
</tr><tr><td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/si/mizarske-delavnice/delo-v-mizarski-delavnici">Delo v mizarski delavnici</a> (Carpentry)</p></td>
    <td><p>Slovenščina (SL)</p></td>
</tr><tr><td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/si/civil-service-test-nk/delo-v-pisarni-maj-2014-srna">Delo v pisarni</a> (Working in offices)</p></td>
    <td><p>Slovenščina (SL)</p></td>
</tr>
</tbody>
</table><h2>Tools developed at European Social Dialogue level</h2><p>
    These tools have been developed by 
    <a href="http://ec.europa.eu/social/main.jsp?catId=480" title="European social dialogue" target="_blank">European Sectoral Social Partners</a>. EU social partners develop OiRA tools with the aim of improving the knowledge about the existing risks in  their sector and the solutions to be adopted. National social partners or  public authorities are invited to adapt these tools to their national context.</p>
<table width="90%" border="1" cellpadding="3">
<tbody>
<tr>
    <th width="1%">
        &nbsp;
    </th>
    <th width="15%">
        Organisation
    </th>
    <th width="55%">
        Sector
    </th>
    <th width="15%">
        Language
    </th>
</tr>
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        <img style="width: 110px;" src="https://admin.oiraproject.eu/images/social-dialogue.png" alt="EU social dialogue image" height="80">
    </td>
    <td>
        <a href="https://client.oiraproject.eu/eu/leather-tanning/leather-tanning-draft-risk-assessment-tool/" title="EU Leather and tanning risk assessment tool" target="_blank">Leather and tanning</a><br>
        
        
    </td>
    <td>
        English
        <br>
        <br>
    </td>
</tr><tr>
    <td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/eu/eu-hairdressing/eu-hairdressing">Hairdressing</a></p></td>
    <td><p>English</p></td>
</tr><tr>
    <td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/eu/eu-private-security/private-security-eu/">Private Security</a></p></td>
    <td><p>English</p></td>
</tr><tr>
    <td></td>
    <td></td>
    <td><p><a href="https://client.oiraproject.eu/eu/eu-cleaning/eu-cleaning/">Cleaning</a></p></td>
    <td><p>English</p></td>
</tr><tr>
    <td></td>
    <td></td>
    <td><a href="https://client.oiraproject.eu/eu/live-performance/live-performance-2">Live performance</a></td>
    <td>English</td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
        <br>
    </td>
    <td>
        <br>
    </td>
</tr>
</tbody>
</table><p>
    <strong>More tools are under preparation</strong> in various countries and European languages:</p><ul>
        <li><em>Bulgaria</em>: 21 tools</li>    
    <li><em>Greece</em>: butchers, bakeries, woodworking workshops, pharmacies, laundry sector, office work, working in offices </li>    
        <li><em>Malta</em>: working in offices</li>    
    <li><em>Slovenia</em>: generic, working in offices, cleaning , hairdressing, psychosocial risks, road transport, woodworking    </li>    <li><em>Spain</em>: hairdressing, road transport</li>    <li><em>EU</em>: maritime transport </li></ul>