<table id="sessionList">
  <tbody>
    <tr>
      <td>
      	<form method="get" action="/preparation.html">
          	<input type="hidden" name="action" value="continue">
          	<input type="hidden" name="session" value="13861">
      	    <button class="link pat-button" type="submit">Private Security EU</button>, saved on March 21, 2015
          </form>
      </td>
      <td class="actions span-5">
          <a class="iconified icon-pencil pat-modal" title="Rename this session" href="/feedback/rename-session.html#document-content">Rename</a>
          <a class="iconified icon-trash pat-modal" title="Delete this session" href="/feedback/confirmation-delete-session.html#document-content">Delete</a>
      </td>
    </tr>
    <tr>
      <td><form method="get" action="https://client.oiratest.syslab.com/eu/view" class="startSessionForm">
          <input type="hidden" name="action" value="continue">
          <input type="hidden" name="session" value="6046">
          <button class="link pat-button" type="submit">My own risk</button>,
          saved on March 20, 2015</form></td>
      <td class="actions span-5">
          <a class="iconified icon-pencil pat-modal" title="Rename this session" href="/feedback/rename-session.html#document-content">Rename</a>
          <a class="iconified icon-trash pat-modal" title="Delete this session" href="/feedback/confirmation-delete-session.html#document-content">Delete</a>
      </td>
    </tr>
    <tr>
      <td><form method="get" action="https://client.oiratest.syslab.com/eu/view" class="startSessionForm">
          <input type="hidden" name="action" value="continue">
          <input type="hidden" name="session" value="364">
          <button class="link pat-button" type="submit">Cyprus_Hairdressers</button>,
          saved on January 9, 2011</form></td>
      <td class="actions span-5">
          <a class="iconified icon-pencil pat-modal" title="Rename this session" href="/feedback/rename-session.html#document-content">Rename</a>
          <a class="iconified icon-trash pat-modal" title="Delete this session" href="/feedback/confirmation-delete-session.html#document-content">Delete</a>
      </td>
    </tr>
    <tr>
      <td><form method="get" action="https://client.oiratest.syslab.com/eu/view" class="startSessionForm">
          <input type="hidden" name="action" value="continue">
          <input type="hidden" name="session" value="471">
          <button class="link pat-button" type="submit">hairdressers tool - demo</button>,
          saved on January 9, 2011</form></td>
      <td class="actions span-5">
          <a class="iconified icon-pencil pat-modal" title="Rename this session" href="/feedback/rename-session.html#document-content">Rename</a>
          <a class="iconified icon-trash pat-modal" title="Delete this session" href="/feedback/confirmation-delete-session.html#document-content">Delete</a>
      </td>
    </tr>
    <tr>
      <td><form method="get" action="https://client.oiratest.syslab.com/eu/view" class="startSessionForm">
          <input type="hidden" name="action" value="continue">
          <input type="hidden" name="session" value="365">
          <button class="link pat-button" type="submit">Cyprus_Hairdressers</button>,
          saved on November 22, 2010</form></td>
      <td class="actions span-5">
          <a class="iconified icon-pencil pat-modal" title="Rename this session" href="/feedback/rename-session.html#document-content">Rename</a>
          <a class="iconified icon-trash pat-modal" title="Delete this session" href="/feedback/confirmation-delete-session.html#document-content">Delete</a>
      </td>
    </tr>
  </tbody>
</table>