{% capture src %}{{ include.data }}{% endcapture %}
<!-- style="min-width: 2200px" -->
<div class="user-journey">
	<h1>
		User journey | Hans
	</h1>
	<ul class="time-line pat-zoom pat-equaliser" >
		{% assign count = 0 %}
		{% for item in site.data.[src] %}
			<li class="section">
				<h3 class="section-label">
					{{ item.label }} {% if item.post_id %}<a href="/{{ item.post_id }}#content" class="pat-modal iconified icon-info-circle" data-pat-modal="class: large">Info</a>{% endif %}
				</h3>
				{% for post in site.posts %}
					{% capture help %}{{ post.id | remove: '/'}}{% endcapture %}
					{% if help == item.post_id %}
						<article id="article-{{ count }}" hidden>
							{{ post.content  | markdownify }}
						</article>
					{% endif %}
				{% endfor %}
				<ul>
					{% for sub in item.steps  %}
						{% assign count = count | plus: 1 %}
						<li id="item-{{ count }}" class="step-background {%  if sub.image %} illustrated{% endif %}">
							<p class="step-label{% if sub.icon %} icon icon-{{ sub.icon }}{% endif %}">
								<a href="{{ sub.url }}" class="link">
									{{ sub.label }}
								</a>
							</p>
							{% if sub.image %}
								<figure class="illustration {% unless sub.image-position %}{% cycle 'pos-1', 'pos-2', pos-3 %}{% endunless %}" {% if sub.image-size %}style="{% if sub.image-position %}margin-top: {{ sub.image-position }}em;{% endif %} width: {{ sub.image-size }}em; height: {{ sub.image-size }}em; margin-left: {{ sub.image-size | times:-0.5 }}em;"{% endif %}>
									<a href="/media/{{ sub.image }}" target="image">
										<img src="/media/{{ sub.image }}" alt="" />
									</a>
								</figure>
							{% endif %}                                        
						</li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>
</div>
