input,
textarea,
select {
	border: 1px solid black;
	background-color: white;
}

input.danger-scale-80[type="range"] {
	background: rgb(149,229,0); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(149,229,0,1) 0%, rgba(149,229,0,1) 64%, rgba(255,124,0,1) 88%, rgba(255,127,4,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(149,229,0,1)), color-stop(64%,rgba(149,229,0,1)), color-stop(88%,rgba(255,124,0,1)), color-stop(100%,rgba(255,127,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(149,229,0,1) 0%,rgba(149,229,0,1) 64%,rgba(255,124,0,1) 88%,rgba(255,127,4,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(149,229,0,1) 0%,rgba(149,229,0,1) 64%,rgba(255,124,0,1) 88%,rgba(255,127,4,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(149,229,0,1) 0%,rgba(149,229,0,1) 64%,rgba(255,124,0,1) 88%,rgba(255,127,4,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(149,229,0,1) 0%,rgba(149,229,0,1) 64%,rgba(255,124,0,1) 88%,rgba(255,127,4,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95e500', endColorstr='#ff7f04',GradientType=1 ); /* IE6-9 */
}