.iconified,
button.iconified {
  overflow: hidden;
  text-decoration: none;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  line-height: 1em;
  border-style: none;
  background-image: none;
  width: 1.3em;
  padding: 0;
  text-indent: -100em;
  color: $colour-accent;

  &:active {
    box-shadow: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:before {
    position: absolute;
    left: 0;
    text-indent: 0;
    display: inline-block;
    margin: 0 0.5em 0 0;
  }
}