@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?2176043');
  src: url('../font/fontello.eot?2176043#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?2176043') format('woff'),
       url('../font/fontello.ttf?2176043') format('truetype'),
       url('../font/fontello.svg?2176043#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?2176043#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-patterns-logo:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-help-circle:before { content: '\e802'; } /* '' */
.icon-book:before { content: '\e803'; } /* '' */
.icon-github-circled:before { content: '\e804'; } /* '' */
.icon-cancel-circled:before { content: '\e805'; } /* '' */
.icon-dot-circled:before { content: '\e806'; } /* '' */
.icon-circle-empty:before { content: '\e807'; } /* '' */
.icon-check-off:before { content: '\e808'; } /* '' */
.icon-check-on:before { content: '\e809'; } /* '' */
.icon-ok-circled:before { content: '\e80a'; } /* '' */
.icon-angle-circled-right:before { content: '\e80b'; } /* '' */
.icon-pencil:before { content: '\e80c'; } /* '' */
.icon-doc:before { content: '\e80d'; } /* '' */
.icon-doc-inv:before { content: '\e80e'; } /* '' */
.icon-hamburger:before { content: '\e80f'; } /* '' */
.icon-cog:before { content: '\e810'; } /* '' */
.icon-left:before { content: '\e811'; } /* '' */
.icon-menu:before { content: '\e812'; } /* '' */
.icon-plus-circle:before { content: '\e813'; } /* '' */
.icon-down-circle:before { content: '\e814'; } /* '' */
.icon-up-circle:before { content: '\e815'; } /* '' */
.icon-angle-circled-left:before { content: '\e816'; } /* '' */
.icon-trash:before { content: '\e817'; } /* '' */
.icon-chart-line:before { content: '\e818'; } /* '' */
.icon-download:before { content: '\e819'; } /* '' */