---
layout: shell
section: action
application: home
design_title: Profiled module
design_description: 
---

<form>
	<article class="rich pat-well warning">

		{{ content }}

		<fieldset class="">
			<label>This is a 
				<select>
					<option>
						low priority risk
					</option>
					<option>
						medium priority risk
					</option>
					<option>
						high priority risk
					</option>
				</select> .
			</label>
		</fieldset>
	</article>

	<div class="measures pat-clone" id="ActionPlanItemForm">
		<div class="measure pat-collapsible" id="measure-1">
			<h2>Measure 1</h2>
			<p class="functions">
				<a class="icon-pencil" href="#standardSolutions">Pre-fill</a>
				<a class="icon-trash">Remove</a>
			</p>

			<fieldset class="vertical">
				<label>Description
					<textarea class="actionPlan" name="action_plan" placeholder="General approach (to eliminate or reduce the risk)" rows="6"></textarea> 
				</label> 
				<label>Prevention plan
					<textarea class="preventionPlan" name="prevention_plan" placeholder="Specific action(s) required to implement this approach" rows="3"></textarea> 
				</label>
				<label>Requirements
					<textarea class="requirements" name="requirements" placeholder="Level of expertise and/or requirements needed" rows="3"></textarea>
				</label>
			</fieldset>

			<fieldset class="vertical">
				<label>
					Who is responsible? 
					<input class="responsible" name="responsible" type="text">
				</label> 
				<label class="currency">
					Budget
					<span class="composed currency-field">
						<abbr title="Euro" class="currency">€</abbr>
						<input type="number" class="currency" />
					</span>
				</label>
				<label>
					Planning start
					<input type="date" />
				</label>
				<label>
					Planning end
					<input type="date" />
				</label>
			</fieldset>
		</div>
	</div>

		<button class="add-clone pat-button icon-plus-circle" id="addMeasureButton" title="Add another measure" type="button">Add another measure</button>
	
</form>