---
layout: shell
section: action
---

<form>
	<article class="rich pat-well warning">
		<h2>
			<!-- The negative statement goes here. -->
			The temperature of some fridges is not checked daily
		</h2>

		<fieldset class="">
			<label>This is a
				<select>
					<option>
						low
					</option>
					<option>
						medium
					</option>
					<option>
						high
					</option>
				</select> priority risk.
			</label>
		</fieldset>

		<!-- The DIV and its content below are only plotted if there are actually images. -->

		<div class="image-collage pat-gallery pat-equaliser">
			<!-- Each image src is repeated as an image url as the value of the background image property inthe inline style on the link tag and in the HREF of the link tag. The background image should be a medium sized image, the image of the HREF should be the large, original image. -->

			<!-- The class 'three' is three in case of four images, 'four' in case of three images, 'six' in case of two images and 'twelve' in case of one image. -->

			<!-- Notice that each image has an image caption in the title tag. -->

			<a href="/media/private-security-eu/guard-walkie-talkie.jpg" style="background-image: url(/media/private-security-eu/guard-walkie-talkie.jpg)" class="three columns">
				<img title="Image caption goes here" src="/media/private-security-eu/guard-walkie-talkie.jpg" alt="" />
			</a>
			<a href="/media/private-security-eu/waarschuwing_-_giftig.png" style="background-image: url(/media/private-security-eu/waarschuwing_-_giftig.png)" class="three columns">
				<img title="Image caption goes here" src="/media/private-security-eu/waarschuwing_-_giftig.png" alt="" />
			</a>
			<a href="/media/private-security-eu/security.jpg" style="background-image: url(/media/private-security-eu/security.jpg)" class="three columns">
				<img title="Image caption goes here" src="/media/private-security-eu/security.jpg" alt="" />
			</a>
			<a href="/media/private-security-eu/redding_-_uitgang.png" style="background-image: url(/media/private-security-eu/redding_-_uitgang.png)" class="three columns">
				<img title="Image caption goes here" src="/media/private-security-eu/redding_-_uitgang.png" alt="" />
			</a>
		</div>

		{{ content | truncatewords: 30 }}

		<div class="pat-collapsible closed">
			<h4>
				More about this risk
			</h4>
			<p>
				Pellentesque <a href="#">habitant morbi</a> tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
			</p>
			<ul>
			   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
			   <li>Aliquam tincidunt mauris eu risus.</li>
			   <li>Vestibulum auctor dapibus neque.</li>
			</ul>
		</div>
	</article>

	<div class="measures pat-clone" data-pat-clone="template: #measure-template" id="ActionPlanItemForm">
		<div class="measure pat-collapsible" id="measure-1">
			<h2>Measure 1</h2>
			<p class="functions">
				<a class="icon-pencil pat-tooltip" data-pat-tooltip="source: ajax" href="#standard-solutions-0">Pre-fill</a>
			</p>

			<div id="standard-solutions-0" hidden>
				<p>
					Select a standard solution. The main fields of this measure will be populated with the chosen solution. (Will overwrite the current solution.)
				</p>
				<ol class="add-measure-menu">
			        <li>
			          	<a class="pat-inject close-panel" href="#standard-solution-1" data-pat-inject="target: #fields-0" class="title"><em class="iconified icon-plus-circle">Add</em> Visual inspection of work areas</a>
			        </li>
			        <li>
			          	<a class="pat-inject close-panel" href="#standard-solution-2" data-pat-inject="target: #fields-0"><em class="iconified icon-plus-circle">Add</em> Provide good equipment</a>
			        </li>
			        <li>
			          	<a class="pat-inject close-panel" href="#standard-solution-3" data-pat-inject="target: #fields-0"><em class="iconified icon-plus-circle">Add</em> Inform the private security guards</a>
			        </li>
			    </ol>
			</div>

			<fieldset class="vertical" id="fields-0">
				<label>Description
					<dfn class="icon-help-circle iconified pat-tooltip" data-pat-tooltip="source: content; position-list: lt">Describe: 1) what is your general approach to eliminate or (if the risk is not avoidable) reduce the risk; 2) the specific action(s) required to implement this approach (to eliminate or to reduce the risk); 3) the level of expertise needed to implement the measure, for instance “common sense (no OSH knowledge required)”, “no specific OSH expertise, but minimum OSH knowledge or training and/or consultation of OSH guidance required”, or “OSH expert”. You can also describe here any other additional requirement (if any).</dfn>
					<textarea autofocus class="actionPlan" name="action_plan" placeholder="General approach (to eliminate or reduce the risk)" rows="3"></textarea>
				</label>
				<label>Prevention plan
					<textarea class="preventionPlan" name="prevention_plan" placeholder="Specific action(s) required to implement this approach" rows="3"></textarea>
				</label>
				<label>Requirements
					<textarea class="requirements" name="requirements" placeholder="Level of expertise and/or requirements needed" rows="3"></textarea>
				</label>
			</fieldset>

			<fieldset class="vertical">
				<label>
					Who is responsible?
					<dfn class="icon-help-circle iconified pat-tooltip" data-pat-tooltip="source: content; position-list: lt">Appoint someone in your company to be responsible for the implementation of this measure. This person will have the authority to take the steps described in the Plan and/or the responsibility to ensure that they are carried out.</dfn>
					<input class="responsible" name="responsible" type="text">
				</label>
				<label class="currency">
					Budget
					<dfn class="icon-help-circle iconified pat-tooltip" data-pat-tooltip="source: content; position-list: lt">Although some measures do not cost any money, most do. The measures should therefore be budgeted for; include them in the annual budget round if necessary.</dfn>
					<span class="composed currency-field">
						<input type="number" class="currency" />
					</span>
				</label>
				<label>
					Planning start
					<input type="date" class="pat-date-picker" data-pat-date-picker="behavior: native" />
				</label>
				<label>
					Planning end
					<input type="date" class="pat-date-picker" data-pat-date-picker="behavior: native" />
				</label>
			</fieldset>
		</div>
	</div>

	<div class="button-bar">
		<button class="add-clone pat-button icon-plus-circle" id="addMeasureButton" title="Add another measure" type="button">Add another measure</button>
	</div>

	<div class="measure pat-collapsible" id="measure-template" hidden>
		<h2>Measure #{1}</h2>
		<p class="functions">
			<a class="icon-pencil pat-tooltip" data-pat-tooltip="source: ajax" href="#standard-solutions-#{1}">Pre-fill</a>
			<a class="icon-trash remove-clone">Remove</a>
		</p>

		<div id="standard-solutions-#{1}" hidden>
			<p>
				Select a standard solution. The main fields of this measure will be populated with the chosen solution. (Will overwrite the current solution.)
			</p>
			<ol class="add-measure-menu">
		        <li>
		          	<a class="pat-inject close-panel" href="#standard-solution-1" data-pat-inject="target: #fields-#{1}" class="title"><em class="iconified icon-plus-circle">Add</em> Visual inspection of work areas</a>
		        </li>
		        <li>
		          	<a class="pat-inject close-panel" href="#standard-solution-2" data-pat-inject="target: #fields-#{1}"><em class="iconified icon-plus-circle">Add</em> Provide good equipment</a>
		        </li>
		        <li>
		          	<a class="pat-inject close-panel" href="#standard-solution-3" data-pat-inject="target: #fields-#{1}"><em class="iconified icon-plus-circle">Add</em> Inform the private security guards</a>
		        </li>
		    </ol>
		</div>

		<fieldset class="vertical" id="fields-#{1}">
			<label>Description
				<dfn class="icon-help-circle iconified pat-tooltip" data-pat-tooltip="source: content; position-list: lt">Describe: 1) what is your general approach to eliminate or (if the risk is not avoidable) reduce the risk; 2) the specific action(s) required to implement this approach (to eliminate or to reduce the risk); 3) the level of expertise needed to implement the measure, for instance “common sense (no OSH knowledge required)”, “no specific OSH expertise, but minimum OSH knowledge or training and/or consultation of OSH guidance required”, or “OSH expert”. You can also describe here any other additional requirement (if any).</dfn>
				<textarea autofocus class=" actionPlan" name="action_plan" placeholder="General approach (to eliminate or reduce the risk)" rows="3"></textarea>
			</label>
			<label>Prevention plan
				<textarea class="preventionPlan" name="prevention_plan" placeholder="Specific action(s) required to implement this approach" rows="3"></textarea>
			</label>
			<label>Requirements
				<textarea class="requirements" name="requirements" placeholder="Level of expertise and/or requirements needed" rows="3"></textarea>
			</label>
		</fieldset>

		<fieldset class="vertical">
			<label>
				Who is responsible?
				<dfn class="icon-help-circle iconified pat-tooltip" data-pat-tooltip="source: content; position-list: lt">Appoint someone in your company to be responsible for the implementation of this measure. This person will have the authority to take the steps described in the Plan and/or the responsibility to ensure that they are carried out.</dfn>
				<input class="responsible" name="responsible" type="text">
			</label>
			<label class="currency">
				Budget
				<dfn class="icon-help-circle iconified pat-tooltip" data-pat-tooltip="source: content; position-list: lt">Although some measures do not cost any money, most do. The measures should therefore be budgeted for; include them in the annual budget round if necessary.</dfn>
				<span class="composed currency-field">
					<input type="number" class="currency" />
				</span>
			</label>
			<label>
				Planning start
				<input type="date" class="pat-date-picker" data-pat-date-picker="behavior: native" />
			</label>
			<label>
				Planning end
				<input type="date" class="pat-date-picker" data-pat-date-picker="behavior: native" />
			</label>
		</fieldset>
	</div>

	<fieldset>
		<textarea id="commentsField" name="comments" placeholder="Please leave any further comments you may have" cols="70" rows="3"></textarea>
	</fieldset>

	<div class="button-bar">
		<button type="submit" name="next" value="previous" class="pat-button back">Previous</button>
		<button class="pat-button">
			Save and continue
		</button>
	</div>

	<fieldset class="vertical" id="standard-solution-1" hidden>
		<label>Description
			<textarea class="actionPlan" name="action_plan" placeholder="General approach (to eliminate or reduce the risk)" rows="3">Make sure a visual inspection of work areas is carried out in order to identify the potential hazards of falls and slips. Check that the anti-fall fittings and protective measures are present and in good condition.</textarea>
		</label>
		<label>Prevention plan
			<textarea class="preventionPlan" name="prevention_plan" placeholder="Specific action(s) required to implement this approach" rows="3">Dolor sit</textarea>
		</label>
		<label>Requirements
			<textarea class="requirements" name="requirements" placeholder="Level of expertise and/or requirements needed" rows="3">Amet consectetuer</textarea>
		</label>
	</fieldset>

	<fieldset class="vertical" id="standard-solution-2" hidden>
		<label>Description
			<textarea class="actionPlan" name="action_plan" placeholder="General approach (to eliminate or reduce the risk)" rows="3">Provide torches (flashlights with good beams) and suitable shoes with anti-slip soles.</textarea>
		</label>
		<label>Prevention plan
			<textarea class="preventionPlan" name="prevention_plan" placeholder="Specific action(s) required to implement this approach" rows="3">Dolor sit</textarea>
		</label>
		<label>Requirements
			<textarea class="requirements" name="requirements" placeholder="Level of expertise and/or requirements needed" rows="3">Amet consectetuer</textarea>
		</label>
	</fieldset>

	<fieldset class="vertical" id="standard-solution-3" hidden>
		<label>Description
			<textarea class="actionPlan" name="action_plan" placeholder="General approach (to eliminate or reduce the risk)" rows="3">Inform the private security guards about respecting warning signs, using the appropriate access ways, using the lights in passageways, using torches. Encourage them to report faults or other problems in the work environment.</textarea>
		</label>
		<label>Prevention plan
			<textarea class="preventionPlan" name="prevention_plan" placeholder="Specific action(s) required to implement this approach" rows="3">Dolor sit</textarea>
		</label>
		<label>Requirements
			<textarea class="requirements" name="requirements" placeholder="Level of expertise and/or requirements needed" rows="3">Amet consectetuer</textarea>
		</label>
	</fieldset>

</form>
