<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Report | {{ site.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ site.baseurl }}/style/screen.css" type="text/css">
	</head>
	<body class="report">
		<article class="pat-rich report">
			<h1>
				Risk analysis and resolutions
			</h1>
			<p class="byline">
				6 December 2015
			</p>
			<section class="module">
				<h2 class="module-name">
					6.1 Module name — Vienna
				</h2>
				<table class="risk-measures-plan">
					<thead>
						<tr>
							<th class="legend">
							
							</th>
							<th>
								Jan
							</th>
							<th>
								Feb
							</th>
							<th>
								Mar
							</th>
						</tr>
					</thead>
					<tbody class="prio-high">
						<tr class="title-line">
							<th colspan="4">
								<h3>
									High priority risks
								</h3>
							</th>
						</tr>
						<tr>
							<th>
								<h4 class="risk-title">
									Ex non ehicula psuere
								</h4>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo elefiend sollicitudin. Mauris egestas.
								</p>
							</th>
							<td>
								•
							</td>
							<td>
								
							</td>
							<td>
								
							</td>
						</tr>
						<tr>
							<th>
								<h4 class="risk-title">
									Ex non ehicula psuere
								</h4>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo elefiend sollicitudin. Mauris egestas.
								</p>
							</th>
							<td>
								
							</td>
							<td>
								•
							</td>
							<td>
								
							</td>
						</tr>
					</tbody>
					<tbody class="prio-medium">
						<tr class="title-line">
							<th colspan="4">
								<h3>
									Medium priority risks
								</h3>
							</th>
						</tr>
						<tr>
							<th>
								<h4 class="risk-title">
									Ex non ehicula psuere
								</h4>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo elefiend sollicitudin. Mauris egestas.
								</p>
							</th>
							<td>
								
							</td>
							<td>
								
							</td>
							<td>
								•
							</td>
						</tr>
						<tr>
							<th>
								<h4 class="risk-title">
									Ex non ehicula psuere
								</h4>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo elefiend sollicitudin. Mauris egestas.
								</p>
							</th>
							<td>
								
							</td>
							<td>
								
							</td>
							<td>
								•
							</td>
						</tr>
					</tbody>
					<tbody class="prio-low">
						<tr class="title-line">
							<th colspan="4">
								<h3>
									Low priority risks
								</h3>
							</th>
						</tr>
						<tr>
							<th>
								<h4 class="risk-title">
									Ex non ehicula psuere
								</h4>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo elefiend sollicitudin. Mauris egestas.
								</p>
							</th>
							<td>
								
							</td>
							<td>
								•
							</td>
							<td>
								
							</td>
						</tr>
						<tr>
							<th>
								<h4 class="risk-title">
									Ex non ehicula psuere
								</h4>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo elefiend sollicitudin. Mauris egestas.
								</p>
							</th>
							<td>
								
							</td>
							<td>
								•
							</td>
							<td>
								
							</td>
						</tr>
					</tbody>
				</table>
			</section>
			<section class="module">
				<h2 class="module-name">
					6.2 Module name — Salzburg
				</h2>
				<table class="risk-measures-plan">
					<thead>
						<tr>
							<th class="legend">
							
							</th>
							<th>
								Jan
							</th>
							<th>
								Feb
							</th>
							<th>
								Mar
							</th>
						</tr>
					</thead>
					<tbody class="prio-high">
						<tr class="title-line">
							<th colspan="4">
								<h3>
									High priority risks
								</h3>
							</th>
						</tr>
						<tr>
							<th>
								<h4 class="risk-title">
									Ex non ehicula psuere
								</h4>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo elefiend sollicitudin. Mauris egestas.
								</p>
							</th>
							<td>
								•
							</td>
							<td>
								
							</td>
							<td>
								
							</td>
						</tr>
						<tr>
							<th>
								<h4 class="risk-title">
									Ex non ehicula psuere
								</h4>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo elefiend sollicitudin. Mauris egestas.
								</p>
							</th>
							<td>
								
							</td>
							<td>
								•
							</td>
							<td>
								
							</td>
						</tr>
					</tbody>
					<tbody class="prio-medium">
						<tr class="title-line">
							<th colspan="4">
								<h3>
									Medium priority risks
								</h3>
							</th>
						</tr>
						<tr>
							<th>
								<h4 class="risk-title">
									Ex non ehicula psuere
								</h4>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo elefiend sollicitudin. Mauris egestas.
								</p>
							</th>
							<td>
								
							</td>
							<td>
								
							</td>
							<td>
								•
							</td>
						</tr>
						<tr>
							<th>
								<h4 class="risk-title">
									Ex non ehicula psuere
								</h4>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo elefiend sollicitudin. Mauris egestas.
								</p>
							</th>
							<td>
								
							</td>
							<td>
								
							</td>
							<td>
								•
							</td>
						</tr>
					</tbody>
					<tbody class="prio-low">
						<tr class="title-line">
							<th colspan="4">
								<h3>
									Low priority risks
								</h3>
							</th>
						</tr>
						<tr>
							<th>
								<h4 class="risk-title">
									Ex non ehicula psuere
								</h4>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo elefiend sollicitudin. Mauris egestas.
								</p>
							</th>
							<td>
								
							</td>
							<td>
								•
							</td>
							<td>
								
							</td>
						</tr>
						<tr>
							<th>
								<h4 class="risk-title">
									Ex non ehicula psuere
								</h4>
								<p class="description">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo elefiend sollicitudin. Mauris egestas.
								</p>
							</th>
							<td>
								
							</td>
							<td>
								•
							</td>
							<td>
								
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</article>

	</body>
</html>
