---
layout: shell
---

<form method="post" action="#">
	<fieldset class="vertical">
		<fieldset class="pat-checklist radio">
			<legend>{{ page.title }}</legend>
			<label class="yes"><input type="radio" name="answer" value="yes" {% if page.classes contains 'answered' %}checked{% endif %} />Yes</label>
			<label class="no"><input type="radio" name="answer" value="no" {% if page.classes contains 'answered' and page.classes contains 'risk' %}checked{% endif %} />No</label>
			<label class="not-applicable"><input type="radio" name="answer" value="na" {% if page.classes contains 'postponed' %}checked{% endif %} />Not applicable</label>
		</fieldset>
	</fieldset>

	<fieldset class="pat-well notice pat-depends vertical" data-pat-depends="condition: answer=no; transition: slide">
<!-- 		<h3>
			Evaluation
		</h3>
 -->
	{% if page.evaluation_method == 'risk_calculated' %}
	<p>Please answer the following questions. As a result of your answers the system will calculate the priority of the risk. You will be able to modify the priority later.</p>
		<fieldset class="pat-checklist radio">
			<legend>What is the chance of this risk occurring?</legend>
			<label><input type="radio" name="chance" /> Small</label>
			<label><input type="radio" name="chance" /> Medium</label>
			<label><input type="radio" name="chance" /> Large</label>
		</fieldset>
		<fieldset class="pat-checklist radio">
			<legend>How often are people exposed to this risk?</legend>
			<label><input type="radio" name="exposed" /> Almost never</label>
			<label><input type="radio" name="exposed" /> Regularly</label>
			<label><input type="radio" name="exposed" /> Continuously</label>
		</fieldset>
		<fieldset class="pat-checklist radio">
			<legend>What is the severity of the damage?</legend>
			<label><input type="radio" name="effect" /> Weak severity</label>
			<label><input type="radio" name="effect" /> Significant severity</label>
			<label><input type="radio" name="effect" /> High (very high) severity</label>
		</fieldset>
	{% elsif page.evaluation_method == 'risk_estimated'  %}
		<fieldset class="pat-checklist radio">
			<legend>Select the priority of this risk</legend>
			<label><input type="radio" name="chance" /> Low</label>
			<label><input type="radio" name="chance" /> Medium</label>
			<label><input type="radio" name="chance" /> High</label>
		</fieldset>
	{% elsif page.evaluation_method == 'risk_direct'  %}
		<p>The priority for this risk has been set automatically, so there is no need to evaluate the risk.</p>
	{% elsif page.evaluation_method == 'policy'  %}
		<p>This is a <em>policy risk</em>.</p>
		<p>This kind of risks are, strictly speaking, not risks and therefore they are not evaluated and don't reveice a priority value.</p>
	{% elsif page.evaluation_method == 'priority'  %}
		<p>This is a <em>high priority</em> risk.</p>
		<p>This kind of risks are considered by the sector to be among the high risks in the sector, and so they receive automatically a priority of High.</p>
	{% endif %}
	</fieldset>

	<article class="rich">
		{% if page.images %}
			<div class="image-collage pat-gallery pat-equaliser image-count-{{ page.images.size }}">
				{% if page.images.size == 1 %}
					{% for image in page.images %}
						<figure>
							<a href="{{ image.url }}">
								<img src="{{ image.url }}" alt="" title="{{ image.caption }}" />
							</a>
							{% if image.caption %}
							    <figcaption>
							    	{{ image.caption }}
							    </figcaption>
							{% endif %}
						</figure>
					{% endfor %}
				{% else %}
					{% for image in page.images %}
						<div class="{% if page.images.size == 2 %}six {% elsif page.images.size == 3 %}four {% elsif page.images.size == 4 %}three {% endif %}columns">

							<a href="{{ image.url }}" style="background-image: url({{ image.url }})">
								<img title="{{ image.caption }}" src="{{ image.url }}" alt="" />
							</a>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		{% endif %}

		{{ content | truncatewords: 50 }}

		<div class="pat-collapsible show-more closed">
			<p class="show-more-or-less">
				<strong class="show-more">Read more</strong> <span class="divider">/</span> <strong class="show-less">Read less</strong> about this risk.
			</p>
			<p>
				Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
			</p>
			<ul>
			   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
			   <li>Aliquam tincidunt mauris eu risus.</li>
			   <li>Vestibulum auctor dapibus neque.</li>
			</ul>
		</div>

		{% if page.legal_reference %}
			<h3>Legal and policy references</h3>
			{{ page.legal_reference }}
		{% endif %}

	</article>

	<fieldset class="vertical">
		<textarea id="commentsField" name="comments" placeholder="Please leave any comments you may have on the above question" cols="70" rows="5" class="span-15"></textarea>
	</fieldset>

	<p class="buttonBar">
		<button type="submit" name="next" value="previous" class="pat-button back">Previous</button>
		<button type="submit" name="next" value="next" class="pat-button">Save and continue</button>
	</p>
</form>

