---
layout: shell
application: home
design_title: Homepage
design_description: 
---

<form method="post" action="#">
	<fieldset class="vertical">
		<fieldset class="pat-checklist radio">
			<legend>{{ page.title }}</legend> <label><input type="radio" name="answer" value="yes" />Yes</label> 
			<label><input type="radio" name="answer" value="no" />No</label> 
			<label><input type="radio" name="answer" value="na" />Not applicable</label>
		</fieldset>
	</fieldset>

	<fieldset>
		<textarea id="commentsField" name="comments" placeholder="Please leave any comments you may have on the above question" cols="70" rows="5" class="span-15"></textarea>
	</fieldset>

	<p class="buttonBar">
		<button type="submit" name="next" value="previous" class="pat-button back">Previous</button> 
		<button type="submit" name="next" value="next" class="pat-button">Next</button>
	</p>
</form>