<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/style/screen.css" type="text/css">
		<script src="{{ site.baseurl }}/bundles/ploneintranet.js" type="text/javascript"></script>

		<link rel="icon" type="image/png" href="{{ site.baseurl }}/media/favicon.png" />
		<!--[if IE]>
				<link rel="shortcut icon" type="image/x-icon" href="media/favicon.ico" />
		<![endif]-->
	</head>
	<body class="sidebar-left-open focus-sidebar {% if page.sidebar_controls %}toolbar{% endif %} {{ page.template }} application-{{ page.application }} {% if page.workspace_name %}ws-{{ page.workspace_id }}{% endif %}">
		<div id="main">
			<header id="toolbar">
				<a href="#osc" class="pat-button icon-hamburger pat-toggle" data-pat-toggle="selector: body; value: osc-on osc-off; store: local" id="burger">
					Menu
				</a>
				<button class="pat-button icon-left pat-switch pat-inject" data-pat-switch="selector: body; remove: focus-*; add: focus-sidebar">Groenvoorzieningwerk en werken in natuurterrein</button>	
			</header>	
			<div id="content">
				{{ content }}
			</div>
		</div>
		<aside id="osc">
			<header id="osc-header">
				<a class="pat-button dropdown pat-tooltip">Name of tool</a>
				<a class="pat-button iconified icon-cog">Settings</a>
			</header>
		    <ol id="steps">
				<li id="step-1" class="complete">
					<a href="#" class="pat-switch pat-inject" data-pat-switch="selector: body; remove: osc-*; add: osc-off">Voorbereiden</a>
				</li>
				<li class="active current" id="step-2">
					<a href="#" class="pat-switch pat-inject" data-pat-switch="selector: body; remove: focus-*; add: focus-document">Inventariseren</a>
					<div class="topics">
	                  {% if page.number %}
	                  {% assign pagelevel = page.number | split: '.' %}
					  <ol>

                      {% for profile in site.tool  %}

                     	{% if profile.layout == 'profile' %}
                       	{% capture id %}{{ profile.fid }}{% endcapture %}
                        <li>
                          <a href="{{profile.url}}" class="pat-switch pat-inject" data-pat-inject="source: #step-2; target: #step-2 && source: #content; target: #content" data-pat-switch="selector: body; remove: focus-*; add: focus-document"><strong class="counter">{{profile.number | replace: '.0' }}</strong> {{profile.title}}</a>
		                  {% assign profilelevel = profile.number | split: '.' %}
	                      {% if pagelevel[0] == profilelevel[0] %}
                          <ol>
                          {% for module in site.tool  %}
                            {% if module.parent_id == id %}
		                    {% capture m_id %}{{ module.fid }}{% endcapture %}
		                    <li class="submodule">
		                      <a href="{{module.url}}" class="pat-switch pat-inject" data-pat-switch="selector: body; remove: focus-*; add: focus-document"  data-pat-inject="source: #step-2; target: #step-2 && source: #content; target: #content"><strong class="counter">{{module.number | replace: '.0' }}</strong> {{module.title}}</a>
			                  {% assign modulelevel = module.number | split: '.' %}
		                      {% if pagelevel[0] == modulelevel[0] and pagelevel[1] == modulelevel[1] %}
    	                      	<ol class="questions">
	    	                      {% for risk in site.tool  %}
	        	                    {% if risk.parent_id == m_id %}
			    	                <li class="{{risk.classes}}">
			        	              <a href="{{risk.url}}#content" class="pat-switch pat-inject" data-pat-switch="selector: body; remove: focus-*; add: focus-document">{{risk.title}}</a>
				                      </li>
    	                       	    {% endif %}
			                      {% endfor %}
								</ol>	
								{% endif %}	                      
                       	  	</li>
                       	    {% endif %}
	                      {% endfor %}
                       	  </ol>
                       	  {% endif %}
                        </li>
                       	{% endif %}
                      {% endfor %}

				    	<ul class="legend">
				    		<li class="unvisited">Unvisited</li>
				    		<li class="postponed">Postponed</li>
				    		<li class="unanswered">Unanswered</li>
				    		<li class="answered">Answered</li>
				    	</ul>
				    	{% endif %}
					</div>
				</li>
				<li id="step-4" class="disabled">
					<a>Plan van aanpak</a>
				</li>
				<li id="step-5" class="disabled">
					<a>Rapporten</a>
				</li>
		    </ol>
		</aside>
	</body>
</html>
